/* --- GLOBAL RESET --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* --- VARIABLES --- */
:root {
    --bg:#0e1117;
    --container-bg:#82298B;
    --accent-purple:#82298B;
    --accent-blue:#97C4FF;
    --metric-bg:#262730;
}

/* --- BODY --- */
body {
    background-image: url(../media/images/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 20px;
}

/* --- BACK BUTTON --- */
.back-btn {
    background: var(--accent-purple);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
    width: fit-content;
    align-self: flex-start; /* prevents stretching */
}

/* --- MAIN CONTAINER --- */
.main-container {
    max-width: 1100px;
    margin: auto;
    padding: 40px;
    background: var(--container-bg);
    border-radius: 20px;
}

/* --- HERO SECTION --- */
.hero {
    display: flex;
    gap: 30px;
}

.poster {
    width: 300px;
    border-radius: 15px;
    border: 3px solid var(--accent-blue);
}

/* --- METRICS --- */
.metrics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 25px 0;
}

.metric-card {
    background: var(--metric-bg);
    padding: 15px;
    border-radius: 12px;
    border-left: 5px solid var(--accent-blue);
}

.m-label {
    color: var(--accent-blue);
    font-size: 12px;
    text-transform: uppercase;
}

.m-value {
    font-size: 18px;
    font-weight: bold;
}

/* --- SECTIONS --- */
.section {
    margin-top: 40px;
}

.box {
    background: var(--metric-bg);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* --- CAST --- */
.cast-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.actor-card {
    background: var(--metric-bg);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}

.actor-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 6px;
}

/* --- TAGS --- */
.tag {
    display: inline-block;
    background: var(--accent-purple);
    padding: 4px 10px;
    border-radius: 20px;
    margin: 4px;
    font-size: 12px;
}

/* --- IFRAME --- */
iframe {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
