<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineMatch</title>
    <link rel="stylesheet" href="../static/css/homepage.css">
</head>
<body>
    <header class="header_container">
        <div >
   <img id="website_logo" src="../static/media/images/website_logo.png" alt="website logo">
   </div>
   <div id="navbar">
   <img id="bms_logo" src="../static/media/images/bmsce_logo.jpeg" alt="bms logo">
   <h1 id="bmsce">BMSCE</h1>
   
   <button  class="navigation" type="submit"><h1>ABOUT</h1></button>

    <form action="../templates/login.html">
        <button class="navigation" type="submit"><h1>LOGIN</h1></button>
    </form >

    <form action = "../templates/genre.html">
        <button class="navigation" type="submit"><h1>GENRES</h1></button>
    </form>
    </div>
    
    </header>
    <main>
        <div id="welcome">
            <h1 id="welh1">WELCOME</h1>
            <br>
            <p>Finding the perfect movie shouldn’t be hard. At CineMatch, we make it effortless by recommending the best movies based on your mood and preferences. Whether you’re
 in the mood for thrilling action, laugh-out-loud comedy, heartfelt drama, or mind-
bending suspense, we’ve got you covered.</p>
        </div>
        <div id="pictures1">
            <h2 >or maybe some bollywood?</h2>
            <img src="../static/media/images/bajirao.jpeg" alt="bajirao mastani">
            <img src="../static/media/images/pk.jpeg" alt="pk">
        </div>
        <div id="pictures2">
            <h2 >craving some hollywood?</h2>
            <img src="../static/media/images/the_aviator.jpeg" alt="the aviator">
            <img src="../static/media/images/inception.jpeg" alt="inception">
            <img src="../static/media/images/top_gun.jpeg" alt="top gun maverick">
        </div>
        <div id="pictures3">
            <h2 >or some south indian dhamaka?</h2>
            <img src="../static/media/images/bahubali.jpeg" alt="bahubali">
            <img src="../static/media/images/kgf.jpeg" alt="kgf">
            <img src="../static/media/images/vikram.jpeg" alt="vikram">
        </div>

        </div>
    </main>
    
    
    
</body>
</html>
