<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel = "stylesheet" href="../static/css/login.css">
</head>

<body>
    <header class="header_container">
    <div >
   <img id="website_logo" src="../static/media/images/website_logo.png" alt="website logo">
   </div>
   <div id="navbar">
   <img id="bms_logo" src="../static/media/images/bmsce_logo.jpeg" alt="bms logo">
   <h1 id="bmsce">BMSCE</h1>
   <button class="navigation"><h1>ABOUT</h1></button>
  
   <button class="navigation"><h1>GENRES</h1></button>
   </div>
   </header>
   <main>
    <div id="WelcomeBack">
        <h2>WELCOME BACK</h2>
        <br>
        <h3>USERNAME:</h3>
        
        <input type="text" placeholder="Username" id="username">
        <br>
        <h3>PASSWORD:</h3>
        <input type="password" placeholder="Password" id="password">
        <br>
        <div id="aftermath">
        
        <a  id="create" href="../templates/register.html">create an account</a>
       
        <a  id="forgot" href="#">forgot password?</a>
        </div>
        <form id = "loginForm">
            <button type = "submit">CONFIRM</button>
        </form>
    </div>
   </main>

   <script src = "../static/js/script_login.js">
   </script>
    
</body>
</html>