<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../static/css/homepage.css"
    


<body>
    <div class="navbar">
        <img class="website_logo" src="../static/media/images/website_logo.png" alt="website logo"
        onclick="location.href='homepage_exp.html'" style="cursor:pointer"> 
        
        <div class="f2">
            <div class="f2-left">
                <img class="bms_logo" src="../static/media/images/bmsce_logo.jpeg" alt="bmsce logo">
                <h1 class="bmsce">BMSCE</h1>
            </div>

            <div class="buttons">
                <form action="../templates/about.html">
                    <button class="navigation" type="submit">ABOUT</button>
                </form>
                <form action="../templates/login.html">
                    <button class="rate" type="submit">LOGIN</button>
                </form>
                <form action="../templates/genre.html">
                    <button class="navigation" type="submit">GENRES</button>
                </form>
                <form action="../templates/actor.html">
                    <button class="navigation" type="submit">ACTORS</button>
                </form>
            </div>
        </div>
    </div>

    <div class="main-content-wrapper">
        
        <div id="welcome">
            <h1 id="welh1">WELCOME</h1>
            <p>Finding the perfect movie shouldn’t be hard. At CineMatch, we make it effortless by recommending the best movies based on your mood and preferences. Whether you’re in the mood for thrilling action, laugh-out-loud comedy, heartfelt drama, or mind-bending suspense, we’ve got you covered.</p>
        </div>

        <div class="movie-grid">
            <div class="movie-column" id="pictures2">
                <h2>craving some hollywood?</h2>
                <img src="../static/media/images/the_aviator.jpeg" alt="the aviator">
                <img src="../static/media/images/inception.jpeg" alt="inception">
                <img src="../static/media/images/top_gun.jpeg" alt="top gun maverick">
            </div>

            <div class="movie-column" id="pictures1">
                <h2>or maybe some bollywood?</h2>
                <img src="../static/media/images/bajirao.jpeg" alt="bajirao mastani">
                <img src="../static/media/images/pk.jpeg" alt="pk">
            </div>

            <div class="movie-column" id="pictures3">
                <h2>or some south indian dhamaka?</h2>
                <img src="../static/media/images/bahubali.jpeg" alt="bahubali">
                <img src="../static/media/images/kgf.jpeg" alt="kgf">
                <img src="../static/media/images/vikram.jpeg" alt="vikram">
            </div>
        </div>
    </div>
</body>
