body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg, #000000, #5b0060, #00c2ff);
  color: #000;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3b3b3b;
  color: white;
  padding: 10px 30px;
}

.logo {
  background: #ddd;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 3px;
}

.college {
  display: flex;
  align-items: center;
  gap: 10px;
}

.college img {
  width: 40px;
  height: 40px;
}

.college h2 {
  font-style: italic;
  color: #9cf;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: black;
  background: #b0c4de;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 10px;
}

nav a:hover {
  background: #87aade;
}

/* WELCOME BOX */
.welcome {
  background: #4fd174;
  border-radius: 20px;
  width: 500px;
  margin: 30px;
  padding: 20px;
  font-size: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.welcome h2 {
  text-align: center;
}

/* MOVIES SECTION */
.movies {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px;
}

.column {
  background: none;
  padding: 10px;
  border: 5px solid yellow;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column img {
  width: 220px;
  border-radius: 10px;
}
