<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineMatch</title>

    <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>

    <div class="header_container">

        <img id="website_logo" src="website_logo.png" alt="website logo">

        <div id="navbar">

            <img id="bms_logo" src="bmsce_logo.jpeg" alt="bms logo">

            <h1 id="bmsce">BMSCE</h1>

            <a href="#" class="navigation">ABOUT</a>
            <a href="login.html" class="navigation">LOGIN</a>
            <a href="#" class="navigation">GENRES</a>

            <h3 id="hellousername"></h3>
        </div>
    </div>

    <div id="welcome">
        <h1>WELCOME</h1>
        <p>
            Finding the perfect movie shouldn't be hard. At CineMatch, we make it effortless by recommending the best movies based on your mood and preferences.
            Whether you're in the mood for thrilling action, comedy, drama, or suspense—we've got you covered.
        </p>
    </div>

    <div id="pictures2">
        <h2>Latest</h2>
        <img src="the_aviator.jpeg">
        <img src="inception.jpeg">
        <img src="top_gun.jpeg">
    </div>

    <div id="pictures1">
        <h2>Recommended</h2>
        <img src="bajirao.jpeg">
        <img src="pk.jpeg">
    </div>

    <div id="pictures3">
        <h2>Trending</h2>
        <img src="bahubali.jpeg">
        <img src="kgf.jpeg">
        <img src="vikram.jpeg">
    </div>

</body>
</html>
