<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>

    <div class="header_container">
        <img src="website_logo.png" id="website_logo" alt="Website Logo">

        <div id="navbar">
            <img src="bmsce_logo.jpeg" id="bms_logo" alt="BMSCE Logo">
            <h1 id="bmsce">BMSCE</h1>

            <a href="homepage.html"><button class="navigation">Home</button></a>
            <a href="register.html"><button class="navigation">Register</button></a>
        </div>
    </div>

    <div id="details">
        <h2>Login</h2>

        <h3>Username</h3>
        <input type="text">

        <h3>Password</h3>
        <input type="password">

        <button>Login</button>

        <a id="create" href="register.html">Create an Account</a>
        <a id="forgot" href="#">Forgot Password?</a>
    </div>

</body>
</html>
