<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>

    <div class="header_container">
        <img src="website_logo.png" id="website_logo" alt="Website Logo">

        <div id="navbar">
            <img src="bmsce_logo.jpeg" id="bms_logo" alt="BMSCE Logo">
            <h1 id="bmsce">BMSCE</h1>

            <p id="hellousername">Hello, User</p>

            <a href="homepage.html"><button class="navigation">Home</button></a>
            <a href="genre.html"><button class="navigation">Genres</button></a>
        </div>
    </div>

</body>
</html>
