* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');

body {
    background-image:url(../media/images/background2.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
/* navbar start */
.navbar {
    width:100%;
    height: 120px;
    display:flex;
    
}
.website_logo {
    margin-right: 50px;
}
.f2 {
    height: 120px;
    width:100px;
    flex-grow:1;
    border-radius: 50px;
    background-color: #535151;
    display:flex;
    align-items: center;
}
.bms_logo {
    height:100px;
    margin-left:50px;
}
.bmsce {
    font: jsMath-cmmi10;
    font-weight: 500;
    font-style: Italic;
    font-size: 36px;
    line-height:100%;
    color:#FFFFFF;
    margin-left: 30px;
    margin-right: 100px;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 700px;
    flex: grow 1;
    height:120px;
}
.navigation {
    width: 170px;
    height: 40px;
    border-radius: 50px;
    background-color: #97C4FF;
    font-weight: 700;
    font-style: Regular;
    font-size: 32px;
    color: #1F1D1DF2;
}
.rate {
    width: 250px;
    height: 40px;
    border-radius: 50px;
    background-color: #97C4FF;
    font-weight: 700;
    font-style: Regular;
    font-size: 32px;
    color: #1F1D1DF2;
}
/* navbar end */
/* parent flex container for both select genre and unable */
.parent {
    width:100%;
    height:300px;
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap:0px 15px;
    margin:75px 0px 75px 0px;
    padding-right: 75px;
    padding-left: 75px;
    box-sizing: border-box;
    text-align: center;
}
/* select genre flex item which itself is also a flex container for its children */
.selectGenre {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color:#82298B;
    width: 490px;
    height: 250px;
    border-radius: 15px;
}


.selectGenre h2{
    width: 190;
    height: 42;
    font-family: 'Jaini Purva', cursive;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;
}
.gen_input {
    width:220px;
    height:40px;
    border-radius: 12px;
    background-color: #D9D9D9;
    text-align:center;
}
/* positioning the labels  */
.lower {
    height:125px;
    width:490px;
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
/* hiding the checkboxes */
.lower input[type="checkbox"] {
    display: none;
}
/* default label looks */
.lower label {
    background-color: #d3b4d8;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-family: monaco, cursive;
    font-size: 18px;
    border: 2px solid #000;
    transition: 0.2s ease;
    background-color: #CF9ECC;
}
/* Hover effect */
.lower label:hover {
    filter: brightness(0.9);
}
/* look after clicked */
.lower input:checked + label {
    background-color: #7c1e87;
    color: white;
    transform: scale(0.94);
    border-color: white;
}
/* unable div */
.unable {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height:250px;
    width:520px;
    background-color: #82298B;  
    border-radius: 15px;
}
.unable h1{
    width: 377px;
    height: 47px;
    font-family: Consolas, 'Courier New', monospace;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;
}
.unable h2 {
    width: 389;
    height: 74;
    font-weight: 400;
    font-style: Regular;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color:#FFFFFF
}
.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width: calc(100%-150);
    height: 374px;
    border-radius: 15px;
    background-color: #82298B;
    color: white;
    margin:75px;
    position: relative;
}
.movieRotation {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width:100%;
    
}
.scrollRight {
    border-radius: 50%;
    background-color: #D9D9D9;
    height:40px;
    width: 40px;
    font-size: 25px;
    position:absolute;
    top: 50%; 
    transform: translateY(-50%);
    right:0%;
    z-index: 10;
    display: flex;
    justify-self: center;
    align-items: center;
}
.scrollRight i {
    color: #333; /* Use a dark color to stand out against the light background */
}





