*{
    padding:0;
    margin:0;
}
.header_container 
{
    display:flex;
    height: 100px;
    width: 100%;
    align-items:center;
    justify-content: center;
    
}
body
{
    background-image: url(../media/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div
{
    display:inline-block;
}
form
{
    display:inline-block;
}

#website_logo
{
    height: 100px;
}
#navbar
{    
    margin-left: 50px;
    width:100%;
    background-color:#535151;
    padding-left: 50px;
    border-radius: 50px;
    

}

#bms_logo
{
    height: 100px;
    background-color:#535151;

}
#bmsce
{
    color:white;
    font-style: italic;
    font-weight:500;
     display:inline-block;
   
    position:relative;
    bottom:50px;
   margin-right:200px;
}
.navigation
{
    position:relative;
    bottom:50px;
    margin-right:50px;
    background-color: #97C4FF;
    border-radius: 50px;
    width:170px;
    height:40px;
    font-style: Regular;
    font-weight: 700;
    cursor: pointer;
}
#welcome
{
  
   width: 519px;
height: 170px;
position:absolute;

top: 150px;
left: 700px;
border-radius: 50px;
background-color:#09c064db;
text-align:center;
margin-bottom:100px;

}
#welcome p
{
    font-weight: 400;
    font-size: large;
}



#pictures1
{
    position:absolute;
    width: 330px;
height: 411px;


top: 370px;
left: 775px;
border-radius: 20px;
border: 10px solid;
border-color: #eeee25;
text-align:center;
display:flex;
flex-direction: column;

align-items:center;
    justify-content: flex-start;
}
#pictures1 h2
{
    color: white;

}
#pictures1 img
{
    
    width: 250px;
height: 180px;
transition:transform 0.3s ease;

}

#pictures1 img:hover
{
    transform: scale(1.2);
}

#pictures2
{
    position:absolute;
    width: 330px;
height: 600px;


top: 185px;
right: 1450px;
border-radius: 20px;
border: 10px solid;
border-color: #eeee25;
text-align:center;
display:flex;
flex-direction: column;

align-items:center;
    justify-content: flex-start;

}
#pictures2 h2
{
    color: white;

}
#pictures2 img
{
    
    width: 250px;
height: 180px;
transition:transform 0.3s ease;

}

#pictures2 img:hover
{
    transform: scale(1.2);
}


#pictures3
{
    position:absolute;
    width: 330px;
    height: 600px;
    


top: 188px;
left: 1450px;
border-radius: 20px;
border: 10px solid;
border-color: #eeee25;
text-align:center;
display:flex;
flex-direction: column;

align-items:center; 
    justify-content: flex-start;

}
#pictures3 h2
{
    color: white;

}
#pictures3 img
{
    
    width: 250px;
height: 180px;
transition:transform 0.3s ease;

}
#pictures3 img:hover
{
    transform: scale(1.2);
}
.navigation {
    transition:background-color 0.3s ease;
}
.navigation:hover {
    background-color: #689fe7;
}
