body {
  background-image: url("background.jpg"); /* Your website bg */
  margin: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
}

/* Header layout */
.header {
  display: flex;
  align-items: center;
  padding: 10px;
  margin:20px;
}

/* Left Logo Box */
.website-logo {
  width: 265px;
  height: 90px;
  background-image: url("website_logo.png");
  
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-left: 50px;
  
}

/* Navbar container */
.navbar {
  background: #5b5a5a;
  width: 1400px;
  height: 90px;
  margin-left: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

/* BMS logo */
.bms-logo {
  width: 60px;
  height: 60px;
  background-image: url("BMS_College_of_Engineering.svg.png");
  background-size: cover;
  margin-right: 10px;
}

/* BMSCE text */
.bms-text {
  color: white;
  font-family: serif;
  margin-right: 50px;
}

/* Buttons container */
.nav-buttons {
  margin-left: auto;
  margin-right: 20px;

  display: flex;
  gap: 20px;
}

/* Rounded Blue Buttons */
.nav-btn {
  background: #97C4FF;
  padding: 12px 35px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 25px;
  border: 2px solid #000;
  font-size: 14px;
  
  transition: 0.2s ease;
}

/* Hover effect */
.nav-btn:hover {
  background: #b9d8ff;
  transform: scale(1.05);
}
.fogpass{
    width:400px;
    height:450px;
    position:static;
    margin-left:37%;
    margin-top:100px;
    background-color: #434141;
    border-radius: 15px;
    opacity: 90%;
    padding: 20px;
    
    
    display: flex;
    flex-direction: column;
    align-content: space-between;
    
 }
 .windowspace{
    height:200px;
    background-color: transparent;
}
.cont{
  color: white;
  font-family: Arial, sans-serif;
  font-size: large;
}
input{
  margin-top:5px;
  height:30px;
  margin-bottom: 20px;
}
#texthead{
  color:black;
  font-size: 36px;
  align-self: center;
  padding-bottom: 0px;
  display: inline;
  background-color:rgb(119, 118, 111);
  border-radius: 10px;
}
#submit{
  color:black;
  font-weight: bolder;
  background-color: gold;
  display:inline;
  text-align: center;
  font-size: 32px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 10px;
  text-decoration: solid;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;

  


}