*{
    padding:0;
    margin:0;
}
.header_container {
    display:flex;
    height: 100px;
    width: 100%;
    align-items:center;
    justify-content: center;
    
}
body{
    background-image: url(../media/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div{
    display:inline-block;
}
form{
    display:inline-block;
}

#website_logo{
    height: 100px;
}
#navbar{    
    margin-left: 50px;
    width:100%;
    background-color:#535151;
    padding-left: 50px;
    border-radius: 50px;
    

}

#bms_logo{
    height: 100px;
    background-color:#535151;

}
#bmsce
{
    color:white;
    font-style: italic;
    font-weight:500;
     display:inline-block;
   
    position:relative;
    bottom:50px;
   margin-right:200px;
}
.navigation{
    position:relative;
    bottom:50px;
    margin-right:50px;
    background-color: #97C4FF;
    border-radius: 50px;
    width:170px;
    height:40px;
    font-style: Regular;
    font-weight: 700;
    cursor: pointer;
}
#selectGenre{
    position:absolute;
    width: 487px;
height: 258px;
top: 224px;
left: 61px;
border-radius: 15px;

opacity: 0.67;
background-color:rgb(203, 161, 130);
}
#selectGenre h1{
    color:ffffff;
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#selectGenre input{
    background-color: white;
}

