*{
    padding:0;
    margin:0;
}
.header_container {
    display:flex;
    height: 100px;
    width: 100%;
    align-items:center;
    justify-content: center;
    
}
body{
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div{
    display:inline-block;
}
a{
    display:inline-block;
}



#website_logo{
    height: 100px;
}
#website_logo{
    height: 100px;
}
#navbar{    
    margin-left: 50px;
    width:100%;
    background-color:#535151;
    padding-left: 50px;
    border-radius: 50px;
    

}

#bms_logo{
    height: 100px;
    background-color:#535151;

}
#bmsce
{
    color:white;
    font-style: italic;
    font-weight:500;
     display:inline-block;
   
    position:relative;
    bottom:50px;
   margin-right:200px;
}
.navigation{
    position:relative;
    bottom:50px;
    margin-right:50px;
    background-color: #97C4FF;
    border-radius: 50px;
    width:170px;
    height:40px;
    font-style: Regular;
    font-weight: 700;
}
#WelcomeBack{
    position:absolute;
    width: 580px;
    height: 511px;
    top: 276px;
    left: 454px;
    border-radius: 50px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    
    background-color: #434141B5;
}
#WelcomeBack h2{
    color:white
}
#WelcomeBack h3{
    
    color:white;
    align-self: start;
    margin-left: 70px;
}
#WelcomeBack input{
    
    color:black;
    background-color: #D9D9D9;
    width: 433px;
    height: 44px;
}
#aftermath{
    
    width: 100%;
}



#create{
    
    color:white;
    font-weight: 400;
    font-style: italic ;
    margin-left:70px;
    text-decoration: none;
    font-size: large;
}
#forgot{
    color:white;
    font-weight: 400;
    font-style: italic ;
     margin-left:182px;
    text-decoration: none;
    font-size: large;
}
#WelcomeBack button{
    width: 433px;
    height: 44px;
    background-color: #D9D9D9;
    border-radius: 50px;    
    font-weight: 700;
    font-size: large;
    margin-top: 20px;
    
}
