<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us | Movie recommendations</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<header class="header">
  
  
  <div class="website-logo">
  
  </div>

  
  <div class="navbar">
      <div class="bms-logo"></div>
      <h2 class="bms-text">BMSCE</h2>

      <div class="nav-buttons">
        <a href="#" class="nav-btn">ABOUT</a>
        <a href="#" class="nav-btn">LOGIN</a>
        <a href="#" class="nav-btn">REGISTER</a>
      </div>
  </div>

</header>
<main>
  <div id="windowspace"></div>
  <div class="ABOUTUS">
    <header class="mainheader">About us :</header>
    <main class="maincontent">
      This website helps users discover movies they will enjoy by recommending films based on genres, movie similarity, and user preferences.
      <ul>Purpose of our website:<li>Suggest the users with their preffered type of movie</li><li>Easy navigation for finding a movie</li>
      </ul> 
      </main>
      <div id="windowspace"></div>
      <header class="mainheader">Purpose :</header>
      <main class="maincontent">With thousands of movies released every year, finding the right one to watch can be overwhelming. We wanted to simplify this process by creating a smart and efficient recommendation tool that helps users discover movies they will enjoy without wasting time. This project was developed as part of our academic coursework at BMS College of Engineering (BMSCE), combining our interest in films with our passion for technology and problem-solving.</main>
      <div id="windowspace"></div>
      <header class="mainheader">Features</header>
      <main class="maincontent"><ul><li>Our movie recommendation website is designed to make discovering new films simple and enjoyable. Users can easily search for any movie, whether it’s a classic or a newly released title.</li>
      <li>he system instantly provides smart recommendations based on movie similarity and user-preferred genres.</li>
      <li>Visitors can also explore movies by category, making it convenient to browse through action, comedy, drama, thriller, and more.</li>
      <li>Each movie selected, displays the movie name, year of release and ratings by other users.</li></ul>
      </main>
      <div id="windowspace"></div>
      <header class="mainheader">Website Developers :</header>
      <main class="maincontent">This website was developed by students of BMS College of Engineering, pursuing Computer Science Engineering, 2nd year.
        <ul>Developers:<li>Shrihari</li>
        <li>Shrey</li><li>Siddhart</li><li>Shashank</li></ul>
      </main>
  </div>
</main>
<div id="windowspace"></div>
 

</body>
<footer>hello</footer>
</html>
