<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>actor</title>
    <link rel="stylesheet" href="../static/css/actor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="navbar">
       
            <img class="website_logo" src="../static/media/images/website_logo.png" alt="website logo"> 
            <div class="f2">
                <img class="bms_logo" src="../static/media/images/bmsce_logo.jpeg" alt="bmsce logo">
                <h1 class="bmsce">BMSCE</h1>
                <div class="buttons">
                    <form action="">
                        <button class="navigation" type="submit">ABOUT</button>
                    </form>
                    <form action="">
                        <button class="rate" type="submit">GENRE</button>
                    </form>
                    <form action="">
                        <button class="navigation" type="submit">LOGOUT</button>
                    </form>
                </div>
            </div>
    </div>
    <div class="parent">
    <div class="selectGenre">
        
            <h2>ENTER ARTIST NAME:</h2>
            <input class="gen_input" placeholder="or maybe some other actor?">
        
        <div class="lower">
            <input type="checkbox" id="action">
            <label for="action">BRAD PITT</label>

            <input type="checkbox" id="thriller">
            <label for="thriller">TOM CRUISE</label>

            <input type="checkbox" id="comedy">
            <label for="comedy">RDJ</label>

            <input type="checkbox" id="romance">
            <label for="romance">JOHNNY DEPP</label>

            <input type="checkbox" id="drama">
            <label for="drama">TOM HANKS</label>

            <input type="checkbox" id="horror">
            <label for="horror">DANIEL RADCLIFFE</label>
        </div>

    </div>
    <div class="unable">
        <h1>FOUND YOUR MOVIES?</h1>
        <h2>Would you like to rate the movie and give a 
short feedback on it. It will help other users 
to find thier perfect movie!</h2>
        <form action="">
                        <button type="submit">RATE MOVIE</button>
        </form>
    </div>
    </div>
    <div class="action">
        <h2>BRADD PIT:</h2>
        <div class="movieRotation">
            <img class="f1" src="../static/media/images/f1.jpeg" alt="f1">
            <img src="../static/media/images/fury.jpg" alt="fury">
            <img src="../static/media/images/OUAT_in_hollywood.jpg" alt="OUAT_in_hollywood">
            <img src="../static/media/images/Mr.Smith.jpg" alt="MR and Mrs Smith">
            <img src="../static/media/images/WWZ.jpg" alt="World War Z">
        </div>
        <div class="scrollRight">
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>
    </div>
    
    
</body>
</html>
