<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
  <link rel="stylesheet" href="Style1.css">
</head>
<body>

<header class="header">
  
  <!-- Website Logo -->
  <div class="website-logo">
  
  </div>

  <!-- Navbar content -->
  <div class="navbar">
      <div class="bms-logo"></div>
      <h2 class="bms-text">BMSCE</h2>

      <div class="nav-buttons">
        <a href="#" class="nav-btn">ABOUT</a>
        <a href="#" class="nav-btn">LOGIN</a>
        <a href="#" class="nav-btn">REGISTER</a>
      </div>
  </div>

</header>
<main>
    <div class="fogpass">
      <h2 id="texthead">Forgot password?</h2>
      <header class="cont">Name :</header>
      <input type="text" placeholder="Enter name...">
      <header class="cont">Email :</header>
      <input type="text" placeholder="Enter email...">
      <header class="cont">New Password :</header>
       <input type="password" placeholder="Enter new password...">
       <header class="cont"> Confirm New Password :</header>
       <input type="password" placeholder="Enter new password...">
       <button id="submit">Submit</button>
    </div>
</main>
<div class="windowspace">hello</div>

</body>
</html>
