<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>genre</title>
    <link rel="stylesheet" href="../static/css/genre.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="navbar">
       
            <img class="website_logo" src="../static/media/images/website_logo.png" alt="website logo"> 
            <div class="f2">
                <img class="bms_logo" src="../static/media/images/bmsce_logo.jpeg" alt="bmsce logo">
                <h1 class="bmsce">BMSCE</h1>
                <div class="buttons">
                    <form action="">
                        <button class="navigation" type="submit">ABOUT</button>
                    </form>
                    <form action="">
                        <button class="rate" type="submit">RATE MOVIE</button>
                    </form>
                    <form action="">
                        <button class="navigation" type="submit">LOGOUT</button>
                    </form>
                </div>
            </div>
    </div>
    <div class="parent">
    <div class="selectGenre">
        
            <h2>Select the GENRE:</h2>
            <input class="gen_input" placeholder="or maybe some other genre?">
        
        <div class="lower">
            <input type="checkbox" id="action">
            <label for="action">ACTION</label>

            <input type="checkbox" id="thriller">
            <label for="thriller">THRILLER</label>

            <input type="checkbox" id="comedy">
            <label for="comedy">COMEDY</label>

            <input type="checkbox" id="romance">
            <label for="romance">ROMANCE</label>

            <input type="checkbox" id="drama">
            <label for="drama">DRAMA</label>

            <input type="checkbox" id="horror">
            <label for="horror">HORROR</label>
        </div>

    </div>
    <div class="unable">
        <h1>UNABLE TO DECIDE ON  A MOVIE?</h1>
        <h2>Don’t worry! We can help you in selecting
a movie starring your favourite actors</h2>
    </div>
    </div>
    <div class="action">
        <h2>ACTION:</h2>
        <div class="movieRotation">
            <img src="../static/media/images/john_wick.jpeg" alt="john wick">
            <img src="../static/media/images/terminator.jpeg" alt="terminator">
            <img src="../static/media/images/fall_guy.jpeg" alt="fall guy">
            <img src="../static/media/images/f1.jpeg" alt="f1">
            <img src="../static/media/images/dark_knight.jpeg" alt="dark knight">
        </div>
        <div class="scrollRight">
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>
    </div>
    
    
</body>
</html>
