<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
     <header class="header_container">
    <div >
   <img id="website_logo" src="../static/media/images/website_logo.png" alt="website logo">
   </div>
   <div id="navbar">
   
    <img id="bms_logo" src="../static/media/images/bmsce_logo.jpeg" alt="bms logo">

   <h1 id="bmsce">BMSCE</h1>
   <button class="navigation"><h1>ABOUT</h1></button>
  
   <form action="../templates/genre.html">
   <button class="navigation" type="submit"><h1>GENRES</h1></button>
   </form>
   </div>
   </header>
    <main>
    <div id="details">
       
        <br>
        <h3>USERNAME:</h3>
        
        <input type="text" placeholder="Username" id="username">
         <br>
        <h3>PHONE NUMBER:</h3>
        <input type="tel" placeholder="Phone number" id="phone">
        <br>
        <h3>EMAIL:</h3>
        <input type="text" placeholder="Mail id" id="mail">
        <br>
        <h3>CREATE A PASSWORD:</h3>
        <input type="password" placeholder="Password" id="password">
        <br>
        <h3>CONFIRM PASSWORD:</h3>
        <input type="password" placeholder="confirm password" id="confirmPassword">
        <br>
        
        
        <form id = "loginForm">
            <button type = "submit">CONFIRM</button>
        </form>
    </div>
   </main>

   <script src = "../static/js/script_register.js"></script>
    
</body>
</html>
